* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(94, 168, 193, 0.1), #8CB9C5);
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1,
h2 {
    font-family: 'Keania One', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D93312;
    text-align: center;
}

hr {
    height: 2px;
    border-top: 1px solid #D93312;
    color: #D93312;
    background-color: #D93312;
}


/** STYLING RULE SECTION*/

/*combine with game container rule? finalize padding and decide*/
.rules {
    border-radius: 12px;
    background-color: white;
    padding: 12px;
    border: 4px solid #D93312;
}

.rule-dropdown {
    padding: 8px 16px;
}

.rule {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

.rule p {
    margin: 0;
}

.rule svg,
.rule svg path {
    width: 40px;
    height: 40px;
}

.rule .option-name {
    font-weight: bold;
    margin-left: 0.5rem;
}

.name-and-icon {
    display: flex;
    align-items: center;
    /* flex-grow: 1; */
    width: 7rem;
}

.win-lose {
    flex-grow: 1;
}


/** BUTTON STYLES */

.start-game-buttons {
    display: flex;
    justify-content: space-around;
    margin: 4rem 0;
}

.start-game-buttons button {
    font-family: 'Keania One', sans-serif;
    background-color: #D93312;
    color: white;
    font-size: 1rem;
    width: 10rem;
    padding: 2rem;
}

/* add effects when hovering on the buttons */
.start-game-buttons button:hover {
    cursor: pointer;
    background-color: white;
    color: #D93312;
    border: 2px solid #d93312;
}


/**MAIN GAME SCREEN STYLES*/

.main-game-container {
    border-radius: 12px;
    background-color: white;
    padding: 12px;
    border: 4px solid #D93312;
}

.main-game-container h3 {
    color: #575757;
    font-family: 'Keania One', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    margin: 0;
}

.game-info-row {
    display: flex;
    justify-content: space-between;
}

.game-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
}

.option-container {
    border-radius: 12px;
    border: 4px solid grey;
    width: 7rem;
    padding: 1.25rem;
    text-align: center;

}

.option-container p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.option-container svg {
    width: 40px;
    height: 40px;
}

/* add effects for hovering on the five options */
#rockOption {
    border-color: #53cf8d;
}

#rockOption:hover {
    cursor: pointer;
    border-color: #575757;
    background-color: #53cf8d;

}

#paperOption {
    border-color: #3ce0ee;
}

#paperOption:hover {
    cursor: pointer;
    border-color: #575757;
    background-color: #3ce0ee;

}

#scissorsOption {
    border-color: #cc48ad;
}

#scissorsOption:hover {
    cursor: pointer;
    border-color: #575757;
    background-color: #cc48ad;

}

#lizardOption {
    border-color: #d5e03d;
}

#lizardOption:hover {
    cursor: pointer;
    border-color: #575757;
    background-color: #d5e03d;

}

#spockOption {
    border-color: #e99e1c;
}

#spockOption:hover {
    cursor: pointer;
    border-color: #575757;
    background-color: #e99e1c;

}



/* media query for screen size min-width 768px */
@media screen and (min-width:768px) {
    .win-lose {
        display: flex;
        flex-direction: row;
        gap: 10%;
    }

    .start-game-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30%;
    }

    .game-options {
        display: flex;
        gap: 5%;
    }

}

/* media query for screen size min-width 992px  */
@media screen and (min-width:992px) {
    .win-lose {
        gap: 30%;
    }

    .game-info-row {
        display: flex;
        justify-content: space-around;

    }

    .game-options {
        display: flex;
        gap: 8%;
    }

}