* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(94, 168, 193, 0.1), #8CB9C5);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

h1,
h2 {
    font-family: 'Keania One', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D93312;
    text-align: center;
    font-size: 2rem;
}

hr {
    height: 2px;
    border-top: 1px solid #D93312;
    color: #D93312;
    background-color: #D93312;
}

/* add for startbutton or playarea to display and hidden */
.hidden {
    display: none;
}

.visible {
    display: block;
}


/** STYLING RULE SECTION*/

/*combine with game container rule? finalize padding and decide*/
.rules {
    border-radius: 12px;
    background-color: white;
    padding: 1.5rem;
    border: 4px solid #D93312;
    position: relative;
    max-width: 90%; /* Adjusted max-width for better display on larger screens */
    margin: 0 auto;

}

.rule-dropdown {
    padding: 8px 16px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    margin-left: 0;
    width: auto;
}

.rule-dropdown p{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.rule-dropdown p:hover {background-color: #f1f1f1}
  
.rules:hover .rule-dropdown {
  display: block;
}

.rule {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

.rule p {
    margin: 0;
}

.rule svg,
.rule svg path {
    width: 40px;
    height: 40px;
}

.rule .option-name {
    font-weight: bold;
    margin-left: 0.5rem;
}

.name-and-icon {
    display: flex;
    align-items: center;
    /* flex-grow: 1; */
    width: 7rem;
}

.win-lose {
    flex-grow: 1;
}


/** BUTTON STYLES */

.start-game-buttons {
    display: flex;
    justify-content: space-around;
    margin: 4rem 0;
}

.start-game-buttons button {
    font-family: 'Keania One', sans-serif;
    background-color: #D93312;
    color: white;
    font-size: 1rem;
    width: 10rem;
    padding: 2rem;
}

/* add effects when hovering on the buttons */
.start-game-buttons button:hover {
    cursor: pointer;
    border: 2px solid #d93312;
    border-radius: 15%;
    box-shadow: 0 8px 12px coral;
    background: linear-gradient(135deg, coral, tomato);
    color:white;
    font-weight: 600;
}


/**MAIN GAME SCREEN STYLES*/

.main-game-container {
    border-radius: 12px;
    background-color: white;
    padding: 12px;
    border: 4px solid #D93312;
}

.main-game-container h3 {
    color: #575757;
    font-family: 'Keania One', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    margin: 0;
}

.game-info-row {
    display: flex;
    justify-content: space-between;
}

.game-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
}

.option-container {
    border-radius: 12px;
    border: 4px solid grey;
    width: 7rem;
    padding: 1.25rem;
    text-align: center;

}

.option-container p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.option-container svg {
    width: 40px;
    height: 40px;
}

/* add effects for hovering on the five options */
#Rock {
    border-color: #53cf8d;
}

#Rock:hover {
    cursor: pointer;
    border-color: #575757;
    background-color: #53cf8d;
    box-shadow: 0 8px 12px #53cf8d;
}

#Paper {
    border-color: #3ce0ee;
}

#Paper:hover {
    cursor: pointer;
    border-color: #575757;
    background-color: #3ce0ee;
    box-shadow: 0 8px 12px #3ce0ee;
}

#Scissors {
    border-color: #cc48ad;
}

#Scissors:hover {
    cursor: pointer;
    border-color: #575757;
    background-color: #cc48ad;
    box-shadow: 0 8px 12px #cc48ad;
}

#Lizard {
    border-color: #d5e03d;
}

#Lizard:hover {
    cursor: pointer;
    border-color: #575757;
    background-color: #d5e03d;
    box-shadow: 0 8px 12px #d5e03d;
}

#Spock {
    border-color: #e99e1c;
}

#Spock:hover {
    cursor: pointer;
    border-color: #575757;
    background-color: #e99e1c;
    box-shadow: 0 8px 12px #e99e1c;
}

/* STYLES FOR END OF ROUND SCREEN */

.announcement-screen h3{
    color:#D93312;
}

.announce-round-winner{
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.announce-round-winner button{
    background-color: #D93312;
    color: white;
    font-family: 'Keania One', sans-serif;
    font-size: 1.5rem;
    border-radius: 12px;
    border:none;
    padding: 1rem 2rem;
    cursor: pointer;
}



/* media query for screen size min-width 768px */
@media screen and (min-width:768px) {
    h1,
    h2 {
        font-size: 3rem; /* Larger font size for larger screens */
    }

    .rules {
        max-width: 600px; /* Adjusted max-width for better display on larg-er screens */
        margin: 0 auto; /* Center the rules section */
    }

    .rule-dropdown {
        min-width: 200px; /* Adjusted minimum width for better visibility */
    }

    .win-lose {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Adjust as needed */
        align-items: center;
        gap: 2rem;

    }

    .start-game-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30%;
        margin: 6rem 0;
    }

    .game-options {
        display: flex;
        gap: 1rem;
    }

}

/* media query for screen size min-width 992px  */
@media screen and (min-width:992px) {
    .rules {
        max-width: 800px; /* Further adjust max-width as needed */
    }    

    .rule-dropdown {

        min-width: 750px;  /* Adjusted minimum width for better visibility */
    }
 

    .win-lose {
        gap: 30%;
    }

    .game-info-row {
        display: flex;
        justify-content: space-around;

    }

    .game-options {
        display: flex;
        gap: 8%;
    }

}